.carousel__container{
    height: 10vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15vh;
}

.header{
    display: flex;
    width: 80vw;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
}

.container{
    display: flex;
    align-items: center;
}

.live__container{
    width: 100px;
    height: 40px;
    background: rgb(230,16 ,80);
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-right: 30px;
}

.cirlce{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.slider__container{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider{
    height: 40px;
    width: 40px;
    background: rgb(138,160,172);
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.slider > i{
    font-size: larger;
}

.slider:hover{
    background: rgba(138,160,172,0.8);
}


@media (max-width:600px){
    .live__container{
        width: 120px;
    }
    .header{
        width: 100vw;
    }
}